[Unit]
Description=vsftpd 2.3.4 vulnerable lab service
After=network.target


[Service]
ExecStart=/opt/vsftpd-2.3.4/sbin/vsftpd /opt/vsftpd-2.3.4/vsftpd.conf
Restart=always
RestartSec=5s


[Install]
WantedBy=multi-user.target